<div class="row">
    <ol class="breadcrumb">
        <li>group</li>
        <li class="active" id="i_groupDetailUrl" data-href="{{ url_for('group.group_detail', group_id=group.id) }}">{{group.name}}</li>
    </ol>
    <h3 class="text-center text-info">{{ group.name }}</h3>
</div>
<br>
<div class="row">
    <h4>
        {% for stock in group.stocks %}
        <span class="label label-success" style="display: inline-block;">
            {{stock.code ~ ' ' ~stock.name}} &nbsp;
            <button type="button" class="close" onclick="show_rm_modal('{{ stock.code }}','{{ stock.name }}')">&times;</button>
        </span>
        {% endfor %}
        <i class="ri-add-circle-line" data-toggle="modal" data-target="#i_addGroupStockModal" style="position:relative;top:5px;"></i>
    </h4>
</div>

<!-- Modal for add stock -->
<div class="modal fade" id="i_addGroupStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="i_addGroupStockModalLabel">添加股票</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input id="i_addGroupStockInput" type="text" class="form-control" placeholder="请输入股票代码..."  data-href="{{ url_for('group.add_stock', group_id=group.id)}}">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="i_addGroupStockButton" data-dismiss="modal">确认</button>
        </div>
        </div>
    </div>
</div>


<!-- Modal for remove stock -->
<div class="modal fade" id="i_rmGroupStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="i_rmGroupStockModalLabel">移除股票</h4>
        </div>
        <div class="modal-body">
            <p  class="text-info text-center" >
                <span id="i_rmGroupStockInfo" data-code="" data-href="{{ url_for('group.remove_stock', group_id=group.id)}}"></span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="i_rmGroupStockButton" data-dismiss="modal">确认</button>
        </div>
        </div>
    </div>
</div>
<script>
    function show_rm_modal(code, name){
        $("#i_rmGroupStockInfo").attr("data-code", code);
        $("#i_rmGroupStockInfo").text(code + " " + name);
        $('#i_rmGroupStockModal').modal("show");
    }
</script>