<div>
  <div class="row content-block">
    <h2 id="index" class="page-header">大盘指数</h2>
    <div class="col-md-6 ">
      <img src="http://image.sinajs.cn/newchart/daily/n/sh000001.gif" class="img-responsive">
    </div>
  </div>
  <div class="row content-block">
    <h2 id="stocks" class="page-header">潜力股</h2>
    <ul class="list-unstyled list-inline">
      <li><a href="#">万科A</a></li>
      <li><a href="#">工商银行</a></li>
      <li><a href="#">农业银行</a></li>
      <li><a href="#">北京银行</a></li>
      <li><a href="#">上海瀚讯</a></li>
      <li><a href="#">金时科技</a></li>
      <li><a href="#">华菱星马</a></li>
      <li><a href="#">中国重工</a></li>
      <li><a href="#">中国一重</a></li>
      <li><a href="#">人民网</a></li>
      <li><a href="#">四川金顶</a></li>
      <li><a href="#">西部证券</a></li>
      <li><a href="#">大名城</a></li>
      <li><a href="#">中信证券</a></li>
      <li><a href="#">中国平安</a></li>
      <li><a href="#">大智慧</a></li>
      <li><a href="#">中国平安</a></li>
    </ul>
  </div>
</div>
