{% extends 'base.html' %}

{% block breadcrumb %}
<li>个股</li>
<li class="active">{{stock.name}}</li>
{% endblock %}

{% block content_title %}
{{ stock.code ~ ' ' ~ stock.name }}
{% endblock %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-md-11">
        <div class="row text-muted">
            <div class="alert alert-warning" role="alert">
                <h6>分析要点</h6>
                <ol>
                    <li><small>这是个什么样的生意？(毛利率、净利率、费用、现金流等情况,分解ROE判断公司经营是低利润率高周转率，还是高利润率低周转率，还是杠杆型)</small></li>
                    <li><small>它的市场空间有多大？</small></li>
                    <li><small>它是否有竞争优势？</small></li>
                    <li><small>经营的历史和未来态势怎么样?</small></li>
                    <li><small>主要的风险是什么？</small></li>
                    <li><small>估值多少？</small></li>
                </ol>
            </div>
        </div>
        <br><br>
        <div class="row">
            <h5 class="text-success" id="annualReport"><i class="glyphicon glyphicon-link"></i> 年度报告</h5>
            <hr><br>
            <ul>
                <li><a href="http://money.finance.sina.com.cn/corp/go.php/vCB_Bulletin/stockid/{{stock.code}}/page_type/ndbg.phtml"
                        target="_blank">年度报告&gt;&gt;</a></li>
                <li>
                    <a href="http://stockdata.stock.hexun.com/2009_zcfz_{{ stock.code }}.shtml"
                        target="_blank">财务数据&gt;&gt;</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="basicInfo"><i class="glyphicon glyphicon-info-sign"></i> 基本情况</h5>
            <hr><br>
            <div class="col-md-12">
                <div id="J_basicInfoTable"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="competitiveEdge"><i class="glyphicon glyphicon-star"></i> 竞争优势</h5>
            <hr><br>
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#i_profitabilityIndicators"
                            aria-controls="i_profitabilityIndicators" role="tab" data-toggle="tab">盈利能力指标</a></li>
                    <li role="presentation"><a href="#i_simpleDupontAnalysis" aria-controls="i_simpleDupontAnalysis"
                            role="tab" data-toggle="tab">杜邦分析(简化版)</a></li>
                    <li role="presentation"><a href="#i_freeCashFlow" aria-controls="i_freeCashFlow" role="tab"
                            data-toggle="tab">历史自由现金流</a></li>
                </ul>
                <br>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="i_profitabilityIndicators">
                        <div id="J_profitabilityIndicatorsChart" style="width: 600px;height:300px;"></div>
                        <div><a data-toggle="collapse" data-target="#i_thresholds">参考阈值<i
                                    class="ri-information-line"></i></a>
                        </div>
                        <div id="i_thresholds" class="collapse">
                            <br>
                            <ul class="text-muted">
                                <li><small>净利润率 >= 15%</small></li>
                                <li><small>ROA >= 6%</small></li>
                                <li><small>ROE >= 10%</small></li>
                            </ul>
                        </div>
                        <br>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_simpleDupontAnalysis">
                        <div id="J_simpleDupontAnalysisTable"></div>
                        <div class="alert alert-warning" role="alert">
                            <p class="text-center text-muted">净资产收益率(ROE) = 销售净利率 &times; 资产周转率 &times; 财务杠杆比率</p>
                            <br>
                            <p>使用净资产收益率评估一家公司的时候，需要注意两个问题：</p>
                            <ol>
                                <li>银行的财务杠杆比率永远是巨大的，我们需要提高金融公司的衡量标准，寻找净资产收益率稳定在12%以上的公司；</li>
                                <li>如果企业的ROE看上去太好了，有可能不真实。ROE在40%以上常常是没有意义的，因为它也许已经被公司的财务结构扭曲了，比如公司最近可能从母公司分拆出来、公司可能回购了而很多股票、或者公司进行了大规模的加价等。
                                </li>
                            </ol>
                        </div>
                        <br>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_freeCashFlow">
                        <div id="J_freeCashFlowTable"></div>
                        <p class="text-muted"><small>* 这边的<mark>自由现金流</mark>指的是<mark>经营活动产生的自由现金流</mark>,
                                通常<mark>自由现金流/销售收入 >= 5%</mark>就说明公司有较好的盈利性</small></p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-12">
                <p>通过分析公司自由现金流、毛利率、净资产收益率、资产收益率来检验公司过去的盈利能力怎样，寻找竞争优势的证据(最好还要找同行业的其他公司做对比)。若公司显示较强的盈利能力，则进一步分析公司是否某方面的竞争优势，这些竞争优势有可能是:
                </p>
                <ul>
                    <li>通过出众的技术或特色创造真实的差异化产品</li>
                    <li>通过一个信任的品牌或声誉创造可感知的差异化产品</li>
                    <li>降低成本并以更低的价格提供相似的产品和服务</li>
                    <li>通过创造高的转换成本锁定消费者</li>
                    <li>通过建立高进入壁垒把竞争者阻挡在外面</li>
                </ul>
            </div>
            <div class="col-md-12">
                <br>
                <p class="text-left text-default"><a><i class="ri-message-3-line"></i> 分析笔记</a></p>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="growth"><i class="glyphicon glyphicon-signal"></i> 成长性</h5>
            <hr><br>
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#i_growthRevenue" aria-controls="i_growthRevenue"
                            role="tab" data-toggle="tab">营业收入</a></li>
                    <li role="presentation"><a href="#i_growthNetProfit" aria-controls="i_growthNetProfit" role="tab"
                            data-toggle="tab">净利润</a></li>
                    <li role="presentation"><a href="#i_growthNetProfitNrgal" aria-controls="i_growthNetProfitNrgal"
                            role="tab" data-toggle="tab">扣非净利润</a></li>
                </ul>
                <br>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="i_growthRevenue">
                        <div id="J_growthRevenueChart" style="width: 600px;height:300px;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_growthNetProfit">
                        <div id="J_growthNetProfitChart" style="width: 600px;height:300px;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_growthNetProfitNrgal">
                        <div id="J_growthNetProfitNrgalChart" style="width: 600px;height:300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <p>若公司表现出高增长，则需要注意，高增长的历史记录并不能保证公司未来还能继续保持高速增长，需要进一步调查分析其
                        <a data-toggle="popover" data-placement="top" data-trigger="hover" data-html=true
                            data-title="可能的成长来源"
                            data-content="&lt;ul class=&quot;list-unstyled&quot;&gt;&lt;li&gt;1.销售更多的产品或服务(销量增长或市场份额增加)&lt;/li&gt;&lt;li&gt;2.提高价格(凭借品牌或垄断地位)&lt;/li&gt;&lt;li&gt;3.销售新的产品或服务&lt;/li&gt;&lt;li&gt;4.购买其他公司&lt;/li&gt;&lt;/ul&gt;">成长性的来源<i
                                class="ri-information-line"></i>
                        </a>
                        和该成长性是否具有
                        <a data-toggle="popover" data-trigger="hover" data-placement="top" title="质询成长质量"
                            data-content="销售增长和进入一个新市场带来的高质量成长，比单靠降价和会计作假带来的低质量成长更具有可持续性；销售增长是很难伪造的，而推进盈利增长的欺骗方法很多，所以一般而言，任何一家公司盈利增长超过销售增长持续一段时间(比如5~10年)，你就需要深挖这些数字(比如是不是有削减成本、税率降低、一次性损益等不可持续的行为)。另外，收购通常是个质量很低的增长途径。">可持续性<i
                                class="ri-information-line"></i>
                        </a>。
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <p class="text-left text-default"><a><i class="ri-message-3-line"></i> 分析笔记</a></p>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="profitability"><i class="glyphicon glyphicon-piggy-bank"></i> 收益性</h5>
            <hr><br>
            <div class="col-md-12">
                <h5 class="text-center">百分率利润表 - {{stock.name}}</h5>
                <div id="J_incomePercentageTable"></div>
            </div>
            <div class="col-md-12">
                <p>深入挖掘公司是怎么赚钱的</p>
            </div>
            <div class="col-md-12">
                <br>
                <p class="text-left text-default"><a><i class="ri-message-3-line"></i> 分析笔记</a></p>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="health"><i class="glyphicon glyphicon-heart"></i> 财务健康</h5>
            <hr><br>
            <div class="col-md-12">
                <div id="J_financialHealthTable"></div>
            </div>
            <div class="col-md-12">
                <div><a data-toggle="collapse" data-target="#i_finDesc">小贴士 <i class="ri-information-line"></i></a>
                </div>
                <div class="alert alert-info collapse" role="alert" id="i_finDesc">
                    <small>
                        <p>对于财务健康状况来说，当公司增加负债时，同时也增加了公司的固定费用，它占总费用一定的百分比，在公司生意好的年份里，高固定费用的公司盈利非常好，因为一旦支付完这些费用，所有额外的销售收入就直接计入自己的账上了；而当生意不好的时候，债务的固定费用会把盈利降得相当低。
                        </p>
                        <p>通过已获利息倍数这个指标，就可以知道公司可以为它的债务支付多少倍的利息费用。已获利息倍数越高越好，业务不稳定的公司行业稳定的公司应该有更好的已获利息倍数。计算观察近5年的比率，可以看到公司已获利息倍数是否真该逐渐下降，公司是否变得风险越来越大，或者公司的财务健康状况是否正在改善。
                        </p>
                        <p>低流动比率意味着公司没有足够的现金来源来偿还即将到期的债务，这就迫使公司在外面寻找融资，或者把营业收入用于偿债。一般而言，流动比率保持在 1.5
                            左右的公司能够应对正常运营之需，不会遇到太大的麻烦。</p>
                        <p>速动比率对制造业和零售业公司特别有用，因为这两类公司中存货占用了大量资金，这些存货也许没有它们在资产负债表上的价值值钱。通常速动比率高于 1.0
                            被视为公司处于比较好的状态，但是一定要对照看一下同行业其他公司的实际情况。</p>
                    </small>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <p class="text-left text-default"><a><i class="ri-message-3-line"></i> 分析笔记</a></p>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="risk"><i class="glyphicon glyphicon-warning-sign"></i> 潜在风险</h5>
            <hr><br>
            <div class="col-md-12">
                <p>买入股票之前，思考所有潜在的负面因素，这能帮助你在坏消息的苗头显露出来时做出更明智的决定。试着思考下：当你想买入的时候，为什么某些人更愿意卖出？</p>
            </div>
            <div class="col-md-12">
                <br>
                <p class="text-left text-default"><a role="button"><i class="ri-message-3-line"></i> 分析笔记</a></p>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="valuation"><i class="ri-scales-3-fill"></i> 估值</h5>
            <hr><br>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="note"><i class="glyphicon glyphicon-pencil"></i> 我的笔记</h5>
            <hr><br>
        </div>
    </div>
    <div class="col-md-1" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix bg-info">
            <ul class="nav bs-docs-sidenav">
                <li class="active"><a href="#annualReport"> - 年度报告</a></li>
                <li><a href="#basicInfo"> - 基本情况</a></li>
                <li><a href="#competitiveEdge"> - 竞争优势</a></li>
                <li><a href="#growth"> - 成长性</a></li>
                <li><a href="#profitability"> - 收益性</a></li>
                <li><a href="#health"> - 财务健康</a></li>
                <li><a href="#risk"> - 潜在风险</a></li>
                <li><a href="#valuation"> - 估值</a></li>
                <li><a href="#note"> - 我的笔记</a></li>
            </ul>
        </nav>
    </div>
</div>


<!-- Modal for edit basic info -->
<div class="modal fade" id="i_editBasicInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="i_editBasicInfoModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="3" id="i_basicInfoTextArea" data-field=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="editBasicInfo()">确认</button>
            </div>
        </div>
    </div>
</div>


<script>
    // 财务健康指标表格
    var financial_health_url = "{{ url_for('stock.financial_health', code=stock.code) }}";
    // 百分率利润表
    var income_percentage_url = "{{ url_for('stock.income_percentage', code=stock.code) }}";
    // 自由现金流量表
    var free_cashflow_url = "{{ url_for('stock.free_cashflow', code=stock.code) }}";
    // 简化版杜邦分析
    var dupont_analysis_url = "{{ url_for('stock.simple_dupont_analysis', code=stock.code) }}";
    // 公司基本信息
    var basic_info_url = "{{ url_for('stock.basic_info', code=stock.code) }}";
    var basic_info_partial_url = "{{ url_for('stock.get_partial_basic_info', code=stock.code) }}";
    var basic_info_edit_url = "{{ url_for('stock.edit_basic_info', code=stock.code) }}"


    function getDataAndPlotIncome(url, domId) {
        $.getJSON(url, function (data) {
            plotIncomeMixLineBar(domId, data);
        })
    }

    // 显示公司基本信息编辑框
    function showBasicInfoEditModal(obj) {
        var name = $(obj).attr("data-name");
        var field = $(obj).attr("data-field");
        $("#i_editBasicInfoModalLabel").text(name);
        $("#i_basicInfoTextArea").attr("data-field", field);

        $.ajax({
            type: 'GET',
            url: basic_info_partial_url,
            data: { "field": field },
            contentType: 'application/json;charset=UTF-8',
            success: function (data) {
                $("#i_basicInfoTextArea").val(data.desc);
                $("#i_editBasicInfoModal").modal("show");
            }
        });

    }

    function editBasicInfo() {
        var cont = $("#i_basicInfoTextArea").val();
        var field = $("#i_basicInfoTextArea").attr("data-field");

        var params = { "field": parseInt(field), "value": cont };
        $.ajax({
            type: 'PATCH',
            url: basic_info_edit_url,
            data: JSON.stringify(params),
            contentType: 'application/json;charset=UTF-8',
            success: function (data) {
                alert(data["message"]);
                loadContent(basic_info_url, "J_basicInfoTable");
            }
        });
    }

    $(function () {
        $('[data-toggle="popover"]').popover();   // 初始化bootstrap的弹出框

        loadContent(financial_health_url, "J_financialHealthTable");
        loadContent(income_percentage_url, "J_incomePercentageTable");
        loadContent(free_cashflow_url, "J_freeCashFlowTable");
        loadContent(dupont_analysis_url, "J_simpleDupontAnalysisTable");
        loadContent(basic_info_url, "J_basicInfoTable");

        // 成长性相关曲线图
        var revenue_url = "{{ url_for('stock.api_data_revenue', code=stock.code) }}";
        var net_profit_nrgal_url = "{{ url_for('stock.api_data_net_profit_nrgal', code=stock.code) }}";
        var net_profit_url = "{{ url_for('stock.api_data_net_profit', code=stock.code) }}";

        getDataAndPlotIncome(revenue_url, "J_growthRevenueChart");
        getDataAndPlotIncome(net_profit_nrgal_url, "J_growthNetProfitNrgalChart");
        getDataAndPlotIncome(net_profit_url, "J_growthNetProfitChart");

        // 盈利能力相关曲线图
        var profitability_url = "{{ url_for('stock.api_data_profitablity', code=stock.code) }}";
        getDataAndPlotLines(profitability_url, "J_profitabilityIndicatorsChart");
    });
</script>

{% endblock %}