{% extends 'base.html' %}

{% block breadcrumb %}
<li>个股</li>
<li class="active" id="i_brc" data-code="{{ stock.code }}">{{stock.name}}</li>
{% endblock %}

{% block content_title %}
{{ stock.code ~ ' ' ~ stock.name }}
{% endblock %}

{% block content %}
<br><br>
<div class="row">
    <div class="col-md-11">
        <div class="row text-muted">
            <div class="alert alert-warning" role="alert">
                <h6>分析要点</h6>
                <ol>
                    <li><small>这是个什么样的生意？(毛利率、净利率、费用、现金流等情况,分解ROE判断公司经营是低利润率高周转率，还是高利润率低周转率，还是杠杆型)</small></li>
                    <li><small>它的市场空间有多大？</small></li>
                    <li><small>它是否有竞争优势？(比如：客户为什么选择它而不选择其他竞争者？为什么其他资本没有提供更高性价比的商品和服务，抢占它的市场份额？如果同行或新进者裹挟巨资参与竞争，该公司是否可以保持住乃至扩张自己的市场份额？)</small></li>
                    <li><small>经营的历史和未来态势怎么样?</small></li>
                    <li><small>主要的风险是什么？</small></li>
                    <li><small>估值多少？</small></li>
                </ol>
            </div>
        </div>
        <br><br>
        <div class="row">
            <h5 class="text-success" id="annualReport"><i class="glyphicon glyphicon-link"></i> 年度报告</h5>
            <hr><br>
            <ul>
                <li><a href="http://money.finance.sina.com.cn/corp/go.php/vCB_Bulletin/stockid/{{stock.code}}/page_type/ndbg.phtml"
                        target="_blank">年度报告&gt;&gt;</a></li>
                <li>
                    <a href="http://stockdata.stock.hexun.com/2009_zcfz_{{ stock.code }}.shtml"
                        target="_blank">财务数据&gt;&gt;</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="basicInfo"><i class="glyphicon glyphicon-info-sign"></i> 基本情况</h5>
            <hr><br>
            <div class="col-md-12">
                <div id="J_basicInfoTable"></div>
            </div>
            <div class="col-md-12">
                <br><br>
                <p><strong>资产负债表简表</strong></p>
                <div id="J_briefBalanceSheetTable"></div>
                <div><a data-toggle="collapse" data-target="#i_balanceSheetReading">如何看资产负债表简表？<i
                    class="ri-information-line"></i></a>
                </div>
                <br>
                <div id="i_balanceSheetReading" class="collapse text-muted">
                    <small>
                        <ul>
                            <li>【1个金额】公司成长性的体现上，资产负债表领先于利润表，因为公司只有先增加流动资产和非流动资产，同时提高杠杆率，才能支持后续的收入和利润增长。如果一家公司的总资产不再增长或开始大幅萎缩（缩表)，那么这家公司的股价往往有很大的下跌风险</li>
                            <li>【2个指标】资产负债率太高意味着公司面临的财务风险较高。不同行业的资产负债率天然时不一样的，需要将公司的资产负债率与行业龙头的数据比较；流动比率比较合适的值是2，即流动资产是流动负债的2倍</li>
                            <li>【3个结构】资产结构、负债结构、所有者权益结构，这三个结构如果有变化，需要进一步查阅年报和公告了解原因，分析该变化对公司发展是否有益</li>
                        </ul>
                    </small>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <p><strong>轻重资产结构</strong></p>
                <div id="J_assetStructureTable"></div>
                <div><a data-toggle="collapse" data-target="#i_assetStructureReading">轻资产与重资产分析<i
                    class="ri-information-line"></i></a>
                </div>
                <br>
                <div id="i_assetStructureReading" class="collapse text-muted">
                    <small>
                        <p>重资产公司通常需要不断投入资金进行维护、更新或升级，并产生大量折旧。重资产公司在一旦没有新需求后，已投入的产能退不出来；同时因为大量折旧和摊销的存在，必须有大量的产品来分摊，一旦产品销量下滑，单位成本需要分摊更多固定成本，这使企业滑向亏损的泥潭；而轻资产公司恰好避开了高固定成本，其产品或服务的成本，主要是可变成本，即使遭遇市场不景气，成本也会跟随销量下滑，使企业更容易在逆境中保持盈利能力。所以在有选择的情况下，建议尽量避开重资产企业。</p>
                        <p>表格中"生产资产/总资产"占比大说明资产重，占比小说明资产轻；"税前利润/生产资产"比值如果<span class="text-danger">显著高于</span>社会平均资本回报率(按银行贷款利率的两倍毛估),则属于轻资产公司，反之属于重资产公司。这里的生产物资参考了唐朝的《手把手教你读财报 新准则升级版》第172页中的定义，去掉了无形资产中的土地，即：生产资产 = 固定资产 + 在建工程 + 工程物资</p>
                    </small>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="competitiveEdge"><i class="glyphicon glyphicon-star"></i> 竞争优势</h5>
            <hr>
            <div class="col-md-12">
                <p>通过分析公司自由现金流、毛利率、净资产收益率、资产收益率来检验公司过去的盈利能力怎样，寻找竞争优势的证据(最好还要找同行业的其他公司做对比)。若公司显示较强的盈利能力，则进一步分析公司是否某方面的竞争优势，这些竞争优势有可能是:
                </p>
                <ul>
                    <li>通过出众的技术或特色创造真实的差异化产品</li>
                    <li>通过一个信任的品牌或声誉创造可感知的差异化产品</li>
                    <li>降低成本并以更低的价格提供相似的产品和服务</li>
                    <li>通过创造高的转换成本锁定消费者</li>
                    <li>通过建立高进入壁垒把竞争者阻挡在外面</li>
                </ul>
                <br>
            </div>
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#i_profitabilityIndicators"
                            aria-controls="i_profitabilityIndicators" role="tab" data-toggle="tab">盈利能力指标</a></li>
                    <li role="presentation"><a href="#i_ROEAnalysis" aria-controls="i_ROEAnalysis"
                            role="tab" data-toggle="tab">ROE分析</a></li>
                    <li role="presentation"><a href="#i_fiveForcesAnalysis" aria-controls="i_fiveForcesAnalysis"
                        role="tab" data-toggle="tab">五力分析</a></li>
                    <li role="presentation"><a href="#i_freeCashFlow" aria-controls="i_freeCashFlow" role="tab"
                            data-toggle="tab">历史自由现金流</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="i_profitabilityIndicators">
                        <div id="J_profitabilityIndicatorsChart" style="width: 600px;height:300px;"></div>
                        <div><a data-toggle="collapse" data-target="#i_thresholds">参考阈值<i
                                    class="ri-information-line"></i></a>
                        </div>
                        <br>
                        <div id="i_thresholds" class="collapse text-muted">
                            <small>
                                <ul>
                                    <li>净利润率 >= 15%</li>
                                    <li>ROA >= 6%</li>
                                    <li>ROE >= 10%</li>
                                </ul>
                            </small>
                        </div>
                        <br>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_ROEAnalysis">
                        <div id="J_ROEAnalysisTable"></div>
                        <div class="alert alert-warning" role="alert">
                            <p class="text-center text-muted">净资产收益率(ROE) = 销售净利率 &times; 资产周转率 &times; 财务杠杆比率</p>
                            <br>
                            <p>使用净资产收益率评估一家公司的时候，需要注意两个问题：</p>
                            <ol>
                                <li>银行的财务杠杆比率永远是巨大的，我们需要提高金融公司的衡量标准，寻找净资产收益率稳定在12%以上的公司；</li>
                                <li>如果企业的ROE看上去太好了，有可能不真实。ROE在40%以上常常是没有意义的，因为它也许已经被公司的财务结构扭曲了，比如公司最近可能从母公司分拆出来、公司可能回购了而很多股票、或者公司进行了大规模的加价等。
                                </li>
                            </ol>
                        </div>
                        <br>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_fiveForcesAnalysis">
                        <div id="J_fiveForcesTable"></div>
                        <p class="text-muted"><small>五力图分析框架中，行业的盈利能力由五种力量决定：现有公司的竞争、新进入者的威胁、替代品的威胁、购买方的谈判能力、供应方的谈判能力。</small></p>
                        <ul class="text-muted">
                            <li><small>【毛利率】可以体现竞争环境(现有公司的竞争、新进者、替代品)对行业盈利能力的影响，一个行业的毛利率越低，通常说明竞争越充分</small></li>
                            <li><small>【应收账款占比】与【预收账款占比】体现了公司与下游客户的谈判能力</small></li>
                            <li><small>【应付账款占比】与【预付账款占比】体现了公司与上游供应商的关系</small></li>
                        </ul>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_freeCashFlow">
                        <div id="J_freeCashFlowTable"></div>
                        <p class="text-muted"><small>* 这边的<mark>自由现金流</mark>指的是<mark>经营活动产生的自由现金流</mark>,
                                通常<mark>自由现金流/销售收入 >= 5%</mark>就说明公司有较好的盈利性</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5 class="text-success" id="growth"><i class="glyphicon glyphicon-signal"></i> 成长性</h5>
            <hr><br>
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#i_growthRevenue" aria-controls="i_growthRevenue"
                            role="tab" data-toggle="tab">营业收入</a></li>
                    <li role="presentation"><a href="#i_growthNetProfit" aria-controls="i_growthNetProfit" role="tab"
                            data-toggle="tab">净利润</a></li>
                    <li role="presentation"><a href="#i_growthNetProfitNrgal" aria-controls="i_growthNetProfitNrgal"
                            role="tab" data-toggle="tab">扣非净利润</a></li>
                    <li role="presentation"><a href="#i_totalHoldersEquity" aria-controls="i_totalHoldersEquity"
                            role="tab" data-toggle="tab">净资产</a></li>
                    <li role="presentation"><a href="#i_totalAssets" aria-controls="i_totalAssets"
                        role="tab" data-toggle="tab">总资产</a></li>
                </ul>
                <br>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="i_growthRevenue">
                        <div id="J_growthRevenueChart" style="width: 600px;height:300px;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_growthNetProfit">
                        <div id="J_growthNetProfitChart" style="width: 600px;height:300px;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_growthNetProfitNrgal">
                        <div id="J_growthNetProfitNrgalChart" style="width: 600px;height:300px;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_totalHoldersEquity">
                        <div id="J_totalHoldersEquityChart" style="width: 600px;height:300px;"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="i_totalAssets">
                        <div id="J_totalAssetsChart" style="width: 600px;height:300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <p>若公司表现出高增长，则需要注意，高增长的历史记录并不能保证公司未来还能继续保持高速增长，需要进一步调查分析其
                        <a data-toggle="popover" data-placement="top" data-trigger="hover" data-html=true
                            data-title="可能的成长来源"
                            data-content="&lt;ul class=&quot;list-unstyled&quot;&gt;&lt;li&gt;1.销售更多的产品或服务(销量增长或市场份额增加)&lt;/li&gt;&lt;li&gt;2.提高价格(凭借品牌或垄断地位)&lt;/li&gt;&lt;li&gt;3.销售新的产品或服务&lt;/li&gt;&lt;li&gt;4.购买其他公司&lt;/li&gt;&lt;/ul&gt;">成长性的来源<i
                                class="ri-information-line"></i>
                        </a>
                        和该成长性是否具有
                        <a data-toggle="popover" data-trigger="hover" data-placement="top" title="质询成长质量"
                            data-content="销售增长和进入一个新市场带来的高质量成长，比单靠降价和会计作假带来的低质量成长更具有可持续性；销售增长是很难伪造的，而推进盈利增长的欺骗方法很多，所以一般而言，任何一家公司盈利增长超过销售增长持续一段时间(比如5~10年)，你就需要深挖这些数字(比如是不是有削减成本、税率降低、一次性损益等不可持续的行为)。另外，收购通常是个质量很低的增长途径。">可持续性<i
                                class="ri-information-line"></i>
                        </a>。
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="profitability"><i class="glyphicon glyphicon-piggy-bank"></i> 收益性</h5>
            <hr><br>
            <div class="col-md-12">
                <h5 class="text-center">百分率利润表 - {{stock.name}}</h5>
                <div id="J_incomePercentageTable"></div>
            </div>
            <div class="col-md-12">
                <p>深入挖掘公司是怎么赚钱的</p>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="OperationCapability"><i class="glyphicon glyphicon-refresh"></i> 营运能力</h5>
            <hr><br>
            <div class="col-md-12">
                <div id="J_operationCapabilityTable"></div>
            </div>
        </div>       
        <br>
        <div class="row">
            <h5 class="text-success" id="financialRisk"><i class="glyphicon glyphicon-heart"></i> 财务风险</h5>
            <hr><br>
            <div class="col-md-12">
                <div id="J_financialRiskTable"></div>
            </div>
            <div class="col-md-12">
                <div><a data-toggle="collapse" data-target="#i_finDesc">指标解读 <i class="ri-information-line"></i></a>
                </div>
                <br>
                <div class="collapse text-muted" id="i_finDesc">
                    <small>
                        <p>对于财务健康状况来说，当公司增加负债时，同时也增加了公司的固定费用，它占总费用一定的百分比，在公司生意好的年份里，高固定费用的公司盈利非常好，因为一旦支付完这些费用，所有额外的销售收入就直接计入自己的账上了；而当生意不好的时候，债务的固定费用会把盈利降得相当低。
                        </p>
                        <ul>
                            <li>低流动比率意味着公司没有足够的现金来源来偿还即将到期的债务，这就迫使公司在外面寻找融资，或者把营业收入用于偿债。一般而言，流动比率保持在 1.5
                            左右的公司能够应对正常运营之需，不会遇到太大的麻烦。</li>
                            <li>速动比率对制造业和零售业公司特别有用，因为这两类公司中存货占用了大量资金，这些存货也许没有它们在资产负债表上的价值值钱。通常速动比率高于 1.0
                                被视为公司处于比较好的状态，但是一定要对照看一下同行业其他公司的实际情况。</li>
                            <li>现金债务比 = 货币现金 / 有息负债 = 货币现金 / (短期借款 + 交易性金融资产 + 长期借款 + 应付债券 + 一年到期的非流动负债)</li>
                        </ul>
                    </small>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="abnormalRisk"><i class="glyphicon glyphicon-warning-sign"></i> 异常风险</h5>
            <hr><br>
            <div class="col-md-12">
                <div id="J_abnormalDataTable"></div>
            </div>
            <div class="col-md-12">
                <div><a data-toggle="collapse" data-target="#i_abnormalDataReading">异常数据解读<i
                    class="ri-information-line"></i></a>
                </div>
                <br>
                <div id="i_abnormalDataReading" class="collapse text-muted">
                    <small>
                        <ul>
                            <li>【资产减值损失】这个科目中包含了计提的坏账，企业可以通过大幅计提坏账，而第二年又转回来，从而在两个年度中调整利润</li>
                            <li>【其他应收款】其他应收款并不是重要科目，但如果这个科目的金额特别大，则可能企业把说不清楚或方便入账的项目塞到了其他应收款里</li>
                            <li>【存货】1. 有些公司会先过渡性地计提存货跌价准备，然后再把它们转回来，从而实现利润在不同年度的转移；2. 也有公司通过虚构商品采购流出资金，再将资金流回企业，虚增利润； 3.通过加大生产，降低单位产品的成本， 从而欺诈性地提升毛利率，虚增本期利润</li>
                            <li>【在建工程】在建工程不需要计提折旧，如果一家公司在建工程数目巨大，持续多年不转入固定资产科目，也没有合理的解释，则可能有两种情况：1. 工程已完工，但公司为了避免折旧，美化利润，故意不将其转入固定资产；2. 有些公司通过在建工程将钱支付给了虚构或关联的承建人或供应商，再以采购本公司商品或服务的名义，变成营业收入流回公司。</li>
                            <li>【应付职工薪酬】通过过度计提应付职工薪酬在两个不同年度之间重新分配利润</li>
                        </ul>
                        <p>以上数据如果出现异常，需要一步阅读年报，探查原因，防止踩雷</p>
                    </small>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="valuation"><i class="ri-scales-3-fill"></i> 估值</h5>
            <hr><br>
        </div>
        <br>
        <div class="row">
            <h5 class="text-success" id="note"><i class="glyphicon glyphicon-pencil"></i> 我的笔记</h5>
            <hr><br>
        </div>
    </div>
    <div class="col-md-1" role="complementary">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix bg-info">
            <ul class="nav bs-docs-sidenav">
                <li class="active"><a href="#annualReport"> - 年度报告</a></li>
                <li><a href="#basicInfo"> - 基本情况</a></li>
                <li><a href="#competitiveEdge"> - 竞争优势</a></li>
                <li><a href="#growth"> - 成长性</a></li>
                <li><a href="#profitability"> - 收益性</a></li>
                <li><a href="#OperationCapability"> - 运营能力</a></li>
                <li><a href="#financialRisk"> - 财务风险</a></li>
                <li><a href="#abnormalRisk"> - 异常风险</a></li>
                <li><a href="#valuation"> - 估值</a></li>
                <li><a href="#note"> - 我的笔记</a></li>
            </ul>
        </nav>
    </div>
</div>


<!-- Modal for edit basic info -->
<div class="modal fade" id="i_editBasicInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="i_editBasicInfoModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="3" id="i_basicInfoTextArea" data-field=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="editBasicInfo()">确认</button>
            </div>
        </div>
    </div>
</div>


<script>
    // 百分率利润表
    var income_percentage_url = "{{ url_for('stock.income_percentage', code=stock.code) }}";
    // 自由现金流量表
    var free_cashflow_url = "{{ url_for('stock.free_cashflow', code=stock.code) }}";
    // 公司基本信息
    var basic_info_url = "{{ url_for('stock.api_data_basic_info', code=stock.code) }}";
    var basic_info_partial_url = "{{ url_for('stock.api_data_partial_basic_info', code=stock.code) }}";
    var basic_info_edit_url = "{{ url_for('stock.api_op_edit_basic_info') }}";
    // brief balance sheet
    var brief_balance_sheet_url = "{{ url_for('stock.api_data_brief_balance_sheet', code=stock.code) }}";
    // asset structure
    var asset_structure_url = "{{ url_for('stock.api_data_asset_structure', code=stock.code) }}";
    // roe分析
    var roe_analysis_url = "{{ url_for('stock.api_data_roe_analysis', code=stock.code) }}";
    // 五力分析
    var five_forces_url = "{{ url_for('stock.api_data_five_forces', code=stock.code) }}";
    // 营运能力
    var operation_capability_url = "{{ url_for('stock.api_data_operation_capability', code=stock.code) }}";
    // 财务健康指标表格
    var financial_risk_url = "{{ url_for('stock.api_data_financial_risk', code=stock.code) }}";
    // 异常数据
    var abnormal_data_url = "{{ url_for('stock.api_data_abnormal_data', code=stock.code) }}";

    // 显示公司基本信息编辑框
    function showBasicInfoEditModal(obj) {
        var name = $(obj).attr("data-name");
        var field = $(obj).attr("data-field");
        $("#i_editBasicInfoModalLabel").text(name);
        $("#i_basicInfoTextArea").attr("data-field", field);
        
        $.ajax({
            type: 'GET',
            url: basic_info_partial_url,
            data: { "field": field},
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                $("#i_basicInfoTextArea").val(response.data.desc);
                $("#i_editBasicInfoModal").modal("show");
            }
        });
        
    }
    
    function editBasicInfo() {
        var cont = $("#i_basicInfoTextArea").val();
        var field = $("#i_basicInfoTextArea").attr("data-field");
        var code = $("#i_brc").attr("data-code");

        var params = { "field": field, "value": cont, "code": code};
        $.ajax({
            type: 'PATCH',
            url: basic_info_edit_url,
            data: JSON.stringify(params),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                alert(response["message"]);
                loadContentV2(basic_info_url, "J_basicInfoTable");
            }
        });
    }

    $(function () {
        $('[data-toggle="popover"]').popover();   // 初始化bootstrap的弹出框

        loadContent(income_percentage_url, "J_incomePercentageTable");
        loadContent(free_cashflow_url, "J_freeCashFlowTable");
        
        loadContentV2(basic_info_url, "J_basicInfoTable");
        loadContentV2(brief_balance_sheet_url, "J_briefBalanceSheetTable");
        loadContentV2(asset_structure_url, "J_assetStructureTable");
        loadContentV2(five_forces_url, "J_fiveForcesTable");
        loadContentV2(roe_analysis_url, "J_ROEAnalysisTable");
        loadContentV2(financial_risk_url, "J_financialRiskTable");
        loadContentV2(operation_capability_url, "J_operationCapabilityTable");
        loadContentV2(abnormal_data_url, "J_abnormalDataTable");

        // 成长性相关曲线图
        var revenue_url = "{{ url_for('stock.api_data_revenue', code=stock.code) }}";
        var net_profit_nrgal_url = "{{ url_for('stock.api_data_net_profit_nrgal', code=stock.code) }}";
        var net_profit_url = "{{ url_for('stock.api_data_net_profit', code=stock.code) }}";
        var total_holders_equity_url = "{{ url_for('stock.api_data_total_holders_equity', code=stock.code) }}";
        var total_assets_url = "{{ url_for('stock.api_data_total_assets', code=stock.code) }}";

        getDataAndPlotBar(revenue_url, "J_growthRevenueChart");
        getDataAndPlotBar(net_profit_nrgal_url, "J_growthNetProfitNrgalChart");
        getDataAndPlotBar(net_profit_url, "J_growthNetProfitChart");
        getDataAndPlotBar(total_holders_equity_url, "J_totalHoldersEquityChart");
        getDataAndPlotBar(total_assets_url, "J_totalAssetsChart");

        // 盈利能力相关曲线图
        var profitability_url = "{{ url_for('stock.api_data_profitablity', code=stock.code) }}";
        getDataAndPlotLines(profitability_url, "J_profitabilityIndicatorsChart");
    });
</script>

{% endblock %}