<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="text-center">报告期</th>
            <th class="text-center">资产减值损失</th>
            <th class="text-center">其他应收款</th>
            <th class="text-center">存货</th>
            <th class="text-center">在建工程</th>
            <th class="text-center">应付职工薪酬</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="text-center">
            <th class="text-center">{{ item.account_date }}</th>
            <td>{{ item.asset_impairment_loss }}</td>
            <td>{{ item.othr_receivables }}</td>
            <td>{{ item.inventory }}</td>
            <td>{{ item.construction_in_process }}</td>
            <td>{{ item.payroll_payable }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>