<div><p><a data-toggle="collapse" data-target="#i_assetStructureReading">轻资产与重资产<i
    class="ri-information-line"></i></a></p>
</div>
<div id="i_assetStructureReading" class="collapse text-muted">
    <small>
        <p>重资产公司通常需要不断投入资金进行维护、更新或升级，并产生大量折旧。重资产公司在一旦没有新需求后，已投入的产能退不出来；同时因为大量折旧和摊销的存在，必须有大量的产品来分摊，一旦产品销量下滑，单位成本需要分摊更多固定成本，这使企业滑向亏损的泥潭；而轻资产公司恰好避开了高固定成本，其产品或服务的成本，主要是可变成本，即使遭遇市场不景气，成本也会跟随销量下滑，使企业更容易在逆境中保持盈利能力。所以在有选择的情况下，建议尽量避开重资产企业。</p>
        <p>表格中"生产资产/总资产"占比大说明资产重，占比小说明资产轻；"税前利润/生产资产"比值如果<span class="text-danger">显著高于</span>社会平均资本回报率(按银行贷款利率的两倍毛估),则属于轻资产公司，反之属于重资产公司。这里的生产物资参考了唐朝的《手把手教你读财报 新准则升级版》第172页中的定义，去掉了无形资产中的土地，即：生产资产 = 固定资产 + 在建工程 + 工程物资</p>
    </small>
</div>

<table class="table table-bordered table-condensed table-sm">
    <thead>
        <tr>
            <th class="text-center">报告期</th>
            {% for item in items %}
            <th class="text-center">{{ item.account_date}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">生产资产/总资产</td>
            {% for item in items %}
            <td class="text-center">{{ item.productive_asset_ratio }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="text-center">税前利润总额/生产资产</td>
            {% for item in items %}
            <td class="text-center">{{ item.profit_prdasset_ratio }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>