<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="text-center">报告期</th>
            <th class="text-center">自由现金流</th>
            <th class="text-center">自由现金流同比增长率</th>
            <th class="text-center">自由现金流/营业收入</th>
            <th class="text-center">自由现金流/净利润</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cashflows %}
        <tr class="text-center">
            <td>{{ item.account_date }}</td>
            <td>{{ (item.net_operating_cashflow | int) if item.net_operating_cashflow is number else '-' }}</td>
            <td>{{ (item.nocf_yoy | round(2)) ~ '%' if item.nocf_yoy is number else '-' }}</td>
            <td>{{ (item.cfr_ratio | round(2)) ~ '%' if item.cfr_ratio is number else '-' }}</td>
            <td>{{ (item.cfnp_ratio | round(2)) ~ '%' if item.cfnp_ratio is number else '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="text-muted"><small>* 这边的<mark>自由现金流</mark>指的是<mark>经营活动产生的自由现金流</mark>,
    通常<mark>自由现金流/销售收入 >= 5%</mark>就说明公司有较好的盈利性</small></p>