<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="text-center">报告期</th>
            <th class="text-center">毛利率</th>
            <th class="text-center">应收账款占比</th>
            <th class="text-center">预收账款占比</th>
            <th class="text-center">应付账款占比</th>
            <th class="text-center">预付账款占比</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="text-center">
            <th class="text-center">{{ item.account_date }}</th>
            <td>{{ item.gross_selling_ratio | round(2) }}</td>
            <td>{{ item.account_receivable_ratio | round(2) }}</td>
            <td>{{ item.pre_receivable_ratio | round(2) }}</td>
            <td>{{ item.accounts_payable_ratio | round(2) }}</td>
            <td>{{ item.pre_payment_ratio | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-muted">
    <small>
        <p>五力图分析框架中，行业的盈利能力由五种力量决定：现有公司的竞争、新进入者的威胁、替代品的威胁、购买方的谈判能力、供应方的谈判能力。</p>
        <ul class="list-unstyled">
            <li><small>【毛利率】可以体现竞争环境(现有公司的竞争、新进者、替代品)对行业盈利能力的影响，一个行业的毛利率越低，通常说明竞争越充分</small></li>
            <li><small>【应收账款占比】与【预收账款占比】体现了公司与下游客户的谈判能力</small></li>
            <li><small>【应付账款占比】与【预付账款占比】体现了公司与上游供应商的关系</small></li>
        </ul>
    </small>
</div>