<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="text-center">报告期</th>
            <th class="text-center">净资产收益率(%)</th>
            <th class="text-center">净利润率(%)</th>
            <th class="text-center">总周转率</th>
            <th class="text-center">权益乘数</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="text-center">
            <td>{{ item.account_date }}</td>
            <td>{{ item.roe | round(2) }}</td>
            <td>{{ item.net_profit_rate | round(2) }}</td>
            <td>{{ item.total_capital_turnover | round(2) }}</td>
            <td>{{ item.equity_multiplier | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="alert alert-warning" role="alert">
    <p class="text-center text-muted">净资产收益率(ROE) = 销售净利率 &times; 资产周转率 &times; 财务杠杆比率</p>
    <br>
    <p>使用净资产收益率评估一家公司的时候，需要注意两个问题：</p>
    <ol>
        <li>银行的财务杠杆比率永远是巨大的，我们需要提高金融公司的衡量标准，寻找净资产收益率稳定在12%以上的公司；</li>
        <li>如果企业的ROE看上去太好了，有可能不真实。ROE在40%以上常常是没有意义的，因为它也许已经被公司的财务结构扭曲了，比如公司最近可能从母公司分拆出来、公司可能回购了而很多股票、或者公司进行了大规模的加价等。
        </li>
    </ol>
</div>