{% extends 'home/public/_base.html' %}

{% block breadcrumb %}
<li>stock-note</li>
<li>估值工具</li>
<li class="active">PE模型</li>
{% endblock %}

{% block content_title %}
PE模型估值
{% endblock %}

{% block content %}
<br><br><br>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-success">PE多少合适？</h4>
        <hr><br>
        <p>首先，要弄清楚评估对象是高价值企业还是成熟企业，两者的估值中枢完全不同。因为从价值创造来讲，成熟企业提供投资收益的方式主要是分红，其业绩增长幅度已经很小，这时候它的股票更类似一张债券的性质。估值中枢相比其成长阶段的大幅度下滑几乎是必然。与之相对，高价值企业的估值则应享有溢价。溢价因素主要有：1.处于长期价值创造的初、中级阶段，具有广阔的发展空间和巨大的资本复制扩张能力；2.属于典型的开支少、现金创造力强、利润丰厚又接近永续经营的好生意；3.盈利预期的确定性
        </p>
        <p>参考上，<span
                class="text-danger">对净利润恒定的企业可以给8.5倍市盈率</span>。以此为估值基准，如果市盈率显著高于8.5倍，意味这市场预期企业的利润将增长；如果市盈率显著低于8.5倍，意味着市场预期企业的利润将下降。反过来，<span
                class="text-danger">如果一家企业在市盈率很低的情况向下，利润不但没有如期下降，反而持续大幅增长，那有可能就是你赚大钱的机会。</span></p>
        <p>8.5倍市盈率的计算推导:</p>
        <div class="alert alert-warning" role="alert">
            <p>拉长周期来看，企业的权益自由现金流总和与净利润总和基本是相同的，因为两者存在以下经过简化的勾稽关系：</p>
            <p class="text-muted text-center">权益自由现金流 = 净经营现金流 - 资本开支 = 净利润 + 折旧 - 运营资本增量 - 资本开支</p>
            <p>长期来看，所有购置的固定资产都要分期提折旧，因此资本开支总额等于折旧总额。在业务上升期时，运营资本需求是增加的，增量为正。反之，业务下降期增量为负。而在业务平台期，运营资本需求基本为零。因此，长期而言，我们完全可以假设权益自由现金流就等于净利润。
            </p>
            <p>如果我们假设公司能够永续经营，净利润永远恒定，取折现率r，代入权益自由现金流折现模型，我们得到企业的价值为:</p>
            <p class="text-muted text-center">公司价值 = 净利润/(1+r) + 净利润/(1+r)<sup>2</sup> + 净利润/(1+r)<sup>3</sup> + …… +
                净利润/(1+r)<sup>n</sup></p>
            <p>运用等比数列求和公式，我们得到:</p>
            <p class="text-muted text-center">公司价值 = 净利润/r</p>
            <p>即在企业利润永久恒定的情况下，合理市盈率应为折现率 r 的倒数，如果 r 取 10%， 则市盈率为10。</p>
            <p>不过在现实中，能走永续经营的企业是不存在的，保守起见，我们假设企业还能再正常经营20年，20年后的价值忽略不计，即 n=20, r=10%, 代入上面的现金流折现模型，得到：</p>
            <p class="text-muted text-center">公司价值 = 净利润 × 8.5</p>
            <p>即市盈率为8.5</p>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-success">PEG估值</h4>
        <hr><br>
        <p>PEG法提供了一种参考基准，如果企业未来3~5年利润的复合增长率是g%，那么P/E等于g是合理的估值。如果未来3~5年利润的复合增长率是20%，股票现在可以给20倍市盈率；如果复合增长率是50%，可以给50倍市盈率。但如果复合增长率是0%呢？显然，低复合增长率(&lt;10%)情形时PEG法的盲区。
        </P>
        </p>
        <p>现金流折现模型是一切估值方法之母，包括PE和PEG。我们可以用现金流折现法来计算未来5年在不同的利润复合增长率情况下，公允的市盈率应该是多少。</p>
        <p>我们考虑第1到第5年的净利润复合增长率分别为0%、5%、10%、20%、30%、50%、100%以及-5%、-10%、-20%共10中情形，统一假设企业生命周期剩余20年，第20年末残余值为零，第0年的利润为1个基准单位，第6年到第20年净利润增速为0。根据经验，企业业绩高速复合增长时，资本开支大于折旧，净利润不能完全转换为权益自由现金流，这里我们酌情打个折扣。而业绩低速增长或负增长时，净利润与权益自由现金流相当。代入权益自由现金流模型，得到下表：
        </p>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="text-center">情形</th>
                    <th class="text-center">第1年至第5年复合增长率</th>
                    <th class="text-center">第1年至第5年权益自由现金流占净利润比例</th>
                    <th class="text-center">公允市盈率</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>情形1</td>
                    <td>0%</td>
                    <td>100%</td>
                    <td>8.5</td>
                </tr>
                <tr class="text-center">
                    <td>情形2</td>
                    <td>5%</td>
                    <td>100%</td>
                    <td>10.4</td>
                </tr>
                <tr class="text-center">
                    <td>情形3</td>
                    <td>10%</td>
                    <td>95%</td>
                    <td>12.4</td>
                </tr>
                <tr class="text-center">
                    <td>情形4</td>
                    <td>20%</td>
                    <td>90%</td>
                    <td>17.6</td>
                </tr>
                <tr class="text-center">
                    <td>情形5</td>
                    <td>30%</td>
                    <td>80%</td>
                    <td>24.3</td>
                </tr>
                <tr class="text-center">
                    <td>情形6</td>
                    <td>50%</td>
                    <td>70%</td>
                    <td>45.6</td>
                </tr>
                <tr class="text-center">
                    <td>情形7</td>
                    <td>100%</td>
                    <td>50%</td>
                    <td>172.1</td>
                </tr>
                <tr class="text-center">
                    <td>情形8</td>
                    <td>-5%</td>
                    <td>100%</td>
                    <td>6.9</td>
                </tr>
                <tr class="text-center">
                    <td>情形9</td>
                    <td>-10%</td>
                    <td>100%</td>
                    <td>5.6</td>
                </tr>
                <tr class="text-center">
                    <td>情形10</td>
                    <td>-20%</td>
                    <td>100%</td>
                    <td>3.7</td>
                </tr>
            </tbody>
        </table>
        <p>这张表非常实用。从上表可以看出，当利润复合增速在10%以上时，PEG法是大致合理的。</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <h4 class="text-success">成长股估值泡沫</h4>
        <hr><br>
        <p>假设高市盈率是合理的，那么公司需要怎样的内生和外延增长，才能匹配当前的市值？这样增长的速度是否现实？实现的概率大不大？以下为以万达院线为例的模板：</p>
        <blockquote>
          <p>
              【万达院线：怎样做才能匹配当前的市值？】首先，万达院线是好企业，不然我不会来评论。处于青春期的企业，可以给高市盈率，因为可预见的业绩快速增长。不过当企业成熟后，净利只能保持高位震荡时，10倍市盈率通常就是合理的估值中枢。万达院线现在的市值时1371亿元人民币，这需要它在成熟期时每年的净利润至少需要保持在140亿元左右的水平上，还不能太晚，因为时间也是有价值的。
              那么万达院线2014年53亿元收入，8亿多元的净利润，需要怎样的内生加外延增长，才能涨到140元净利润呢？请各位股东中的投资者回答一下，投机者就算了，反正你们腿快。2007年的时髦行业中的龙头企业，招商银行、万科A等，现在复权股价都没有达到当时的高度。前车之鉴，不可不察。A股中也不是没有对不起现在市值的企业。比如格力电器，1850亿元市值，去年140亿元净利润，90亿元派息，两位数的业绩增长没有悬念。
              再如万科A，1700亿元市值，去年157亿元净利润，今年200亿元把握大。还有港股通的恒大地产，去年1300亿元的销售收入，100亿元左右的净利润，60多亿元的派息，现在才600亿元人民币市值。靠运气投机赚的钱，如何才能稳妥地保住胜利果实呢？买房，或者换成靠谱的股票吧。
          </p>
        </blockquote>
    </div>
</div>
{% endblock %}