{% extends 'base2.html' %}

{% block title %}检查清单{% endblock %}

{% block styles %}
{{ super() }}

body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ stock.name }} ({{ stock.code }})</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#quality" id="i_first_list" data-url="{{ url_for('check_list.api_data_quality', code=stock.code)}}">质量检查清单</a></li>
          <li><a href="#risk" data-url="{{ url_for('check_list.api_data_risk', code=stock.code)}}">避雷检查清单</a></li>
          <li><a href="#valuate">估值检查清单</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <br><br>
    <div id="J_checkList"></div>

</div>
<br><br>

<!-- Modal for edit basic info -->
<div class="modal fade" id="i_editCheckListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="i_editCheckListModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="3" id="i_checkListTextArea" data-field=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="editCheckList()">确认</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{{ super() }}

<script>
    function loadCheckList(obj){
        var url = $(obj).attr("data-url");
        loadContentV2(url, "J_checkList");
    }
    
    $(function () {
        loadCheckList("#navbar li.active > a");
    })

    // 点击navbar时切换active状态,并加载对应的检查清单
    $("#navbar > ul > li").click(function(){
        $("#navbar > ul > li").removeClass("active");
        $(this).addClass("active");
        var obj = $(this).children("a");
        loadCheckList(obj);
	})

    // 显示清单编辑框
    function showCheckListEditModal(obj) {
        var partial_data_url = $("#i_cacheData").attr("data-partial-url");
        var name = $(obj).attr("data-name");
        var field = $(obj).attr("data-field");
        $("#i_editCheckListModalLabel").text(name);
        $("#i_checkListTextArea").attr("data-field", field);
        $.ajax({
            type: 'GET',
            url: partial_data_url,
            data: { "field": field},
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                $("#i_checkListTextArea").val(response.data.desc);
                $("#i_editCheckListModal").modal("show");
            }
        });
    }

    // 编辑更新清单
    function editCheckList() {
        var edit_url = $("#i_cacheData").attr("data-partial-edit-url")
        var code = $("#i_cacheData").attr("data-code");
        var cont = $("#i_checkListTextArea").val();
        var field = $("#i_checkListTextArea").attr("data-field");

        var params = { "field": field, "value": cont, "code": code};
        $.ajax({
            type: 'PATCH',
            url: edit_url,
            data: JSON.stringify(params),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                alert(response["message"]);
                // 刷新检查清单（加载激活状态的检查清单）
                loadCheckList("#navbar li.active > a");
            }
        });
    }

</script>
{% endblock %}