/* 侧边栏设置 */
@media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0px;
      bottom: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-left: 50px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*主要内容格式设置*/
@media (min-width: 768px) {
    #main {
        padding-right: 50px;
        padding-left: 50px;
    }
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label {
    display: inline-block;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle .btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle .btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-circle .btn-huge {
    width: 80px;
    height: 80px;
    padding: 4px 3px;
    font-size: 51px;
    line-height: 1.33;
    border-radius: 40px;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}
