{% extends 'base.html' %}

{% block style %}
{{ super() }}
<style>
 #i_category > .active {background:rgb(83, 88, 83)}
</style>

{% endblock %}

{% block content -%}
  <div class="container-fluid">
    <div class="row">
      <!-- 侧边栏 -->
      <div class="col-sm-3 sidebar">
        <br><br><br>
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="form-group has-feedback">
              <input type="text" id="i_stockInput" placeholder="股票代码..." class="form-control number-checker" data-url="{{url_for('stock.stock_detail')}}">
              <i class="glyphicon glyphicon-search form-control-feedback" style="display:inline-block"></i>
            </div>
          </div>
          <br><br><br>
        </div>
        <ul class="nav nav-sidebar" id="i_category">
          <li class="active"><a class="load-content-btn" role="button" data-href="{{ url_for('individual.index') }}">主 页</a></li>
          <li><a class="load-content-btn" role="button" data-href="{{ url_for('compare.index') }}">竞争分析</a></li>
          <li>
            <a data-toggle="collapse" href="#valuationTools">估值工具</a>
            <ul class="nav sub-menu collapse" id="valuationTools">
              <li><a class="load-content-btn text-muted" role="button" data-href="{{ url_for('valuation.pe_index') }}">PE模型</a></li>
              <li><a class="load-content-btn text-muted" role="button" data-href="{{ url_for('valuation.dcf_index') }}">DCF模型</a></li>
              <li><a class="load-content-btn text-muted" role="button" data-href="{{ url_for('valuation.dcf_plus_index') }}">DCF + PE混合模型</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- 右侧内容 -->
      <div class="col-sm-9 col-sm-offset-3" id="main">
      </div>
    </div>
  </div>
{%- endblock content %}

{% block scripts %}
  {{ super() }}
  <script src="/static/js/main.js"></script>
  <script type="text/javascript">
    var home_page_url = "{{ url_for('individual.index') }}";
    var group_page_url = "{{ url_for('compare.index') }}";

    var create_group_url = "{{url_for('compare.api_op_create_group')}}";
    var remove_group_url = "{{url_for('compare.api_op_remove_group')}}";
    
    // 估值报告url
    var dcf_report_url = "{{ url_for('valuation.dcf_report') }}";
    var dcf_pe_report_url = "{{ url_for('valuation.dcf_plus_report') }}";
  </script>
{% endblock %}