<div class="row">
    <h3 class="text-center text-primary">公司质量检查清单</h3>
    <br><br><br>
    <div class="col-md-3" ><p>公司代码:&nbsp;{{ code }}</p></div>
    <div class="col-md-3 col-md-offset-6"><p class="text-right">更新时间:&nbsp;{{ checklist.update_time | default('-', True) | date }}</p></div>
</div>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th class="text-center" width="15%">检查项</th>
            <th class="text-center" width="30%">检查要点</th>
            <th class="text-center">检查结果</th>
            <th class="text-center" width="5%">编辑</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="8" style="vertical-align: middle">公司过去多年的财务数据如何？有无重大疑问？财务表现是否优秀？</td>
            <td>
                盈利能力指标：历年ROE情况、毛利率、费用率和净利润率。可以用杜邦分析工具将企业财务数据统一起来，理解ROE的来源和变化的原因。

            </td>
            <td class="pre-line">{{ checklist.profitability | default('-', True)}}</td>
            <td class="text-center" style="vertical-align: middle">
                <div class="dropdown">
                    <span class="dropdown-toggle" id="checklistEditDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i role="button" class="glyphicon glyphicon-option-horizontal"></i>
                    </span>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="checklistEditDropDownMenu" style="min-width:50px" >
                        <li>
                            <a role="btn" class="btn" onclick="showCheckListEditModal(this)" data-name="盈利能力" data-field="profitability"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;编辑</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>成长能力指标：历年的营收和扣非净利润的增长率</td>
            <td class="pre-line">{{ checklist.growth | default('-', True)}}</td>
            <td class="text-center" style="vertical-align: middle">
                <div class="dropdown">
                    <span class="dropdown-toggle" id="checklistEditDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i role="button" class="glyphicon glyphicon-option-horizontal"></i>
                    </span>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="checklistEditDropDownMenu" style="min-width:50px" >
                        <li>
                            <a role="btn" class="btn" onclick="showCheckListEditModal(this)" data-name="成长能力" data-field="growth"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;编辑</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>现金流状况指标：经营活动现金流量净额与净利润的比值、应收账款占营业收入的比重、预收账款占营业收入的比重、自由现金流等</td>
            <td class="pre-line">{{ checklist.cashflow | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>运营能力指标：总资产周转率、应收账款周转天数、存货周转天数</td>
            <td class="pre-line">{{ checklist.operation_capability | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>财务安全性指标：资产负债率、流动比率、速动比率、股票质押比例等</td>
            <td class="pre-line">{{ checklist.financial_security | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>财务数据的稳定性：企业经营是大起大落还是平稳增长？</td>
            <td class="pre-line">{{ checklist.financial_stability | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>回报股东的能力和意愿：历年融资和分红情况</td>
            <td class="pre-line">{{ checklist.devidend | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>各种财务数据的同行比较</td>
            <td class="pre-line">{{ checklist.othr_indicatos_comparision | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="7" style="vertical-align: middle">公司的商业模式是什么样的？</td>
            <td>公司的客户是谁？</td>
            <td class="pre-line">{{ checklist.customers | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司提供什么样的产品和服务？</td>
            <td class="pre-line">{{ checklist.products | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司的价值主张是什么？解决了客户什么样的需求和痛点？</td>
            <td class="pre-line">{{ checklist.value_proposition | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司的内外部价值链是怎样的？</td>
            <td class="pre-line">{{ checklist.value_chain | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司的盈利模式是怎样的？</td>
            <td class="pre-line">{{ checklist.profit_model | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司所从事业务的生意特性是怎样的？</td>
            <td class="pre-line">{{ checklist.business_characteristic | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司的自由现金流状况如何？</td>
            <td class="pre-line">{{ checklist.free_cashflow | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2" style="vertical-align: middle">公司未来的成长空间大小，成长动力是什么</td>
            <td>公司的产品和服务市场空间有多大？行业未来前景如何？</td>
            <td class="pre-line">{{ checklist.market_spaces | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>分析企业未来成长动力来自何处:随着行业增长销量的增加、占领更多的市场份额、扩展更多的地域、产品提价、产品结构升级、开发新产品、进入新的业务领域、收购兼并等</td>
            <td class="pre-line">{{ checklist.growth_momentum | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align: middle">公司有没有宽阔的护城河？体现在哪方面？</td>
            <td>”波特五力模型“分析：公司对上游客户的议价能力、对下游客户的议价能力、相对于竞争对手的竞争优势、替代品的威胁、潜在进入者的威胁</td>
            <td class="pre-line">{{ checklist.potters_five_forces | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>分析公司护城河体现在哪些方面：品牌、规模经济、网络效应、技术专利、政府特许、特殊资源、低成本优势等</td>
            <td class="pre-line">{{ checklist.moat | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>经过综合分析，判断企业是否具有宽阔的护城河，以及护城河强弱的级别</td>
            <td class="pre-line">{{ checklist.moat_level | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle">公司管理层是否德才兼备</td>
            <td>通过媒体报道、访谈、视频、股东大会等各种渠道收集信息对管理层的道德和能力进行判断。观察实际控制人和管理层的格局、价值观、敏锐度、行动力</td>
            <td class="pre-line">{{ checklist.management_ethics | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="6" style="vertical-align: middle">公司治理结构如何</td>
            <td>公司的主要股东是谁？</td>
            <td class="pre-line">{{ checklist.major_shareholders | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>实际控制人是谁</td>
            <td class="pre-line">{{ checklist.actual_controller | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司是国企还是民企？</td>
            <td class="pre-line">{{ checklist.state_or_private | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>管理层和主要骨干有没有持股？</td>
            <td class="pre-line">{{ checklist.management_shareholding | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>股权质押情况</td>
            <td class="pre-line">{{ checklist.equity_pledge | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司制度化运作还是高度依赖企业家个人？</td>
            <td class="pre-line">{{ checklist.institutionalize | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align: middle">公司企业文化如何？</td>
            <td>公司的管理质量、核心价值观和企业文化是什么样的？</td>
            <td class="pre-line">{{ checklist.corporate_culture | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>是短期利益导向还是非常重视创造长期价值？</td>
            <td class="pre-line">{{ checklist.interist_orientation | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司如何对待员工、股东、供应商、客户、合作伙伴、竞争对手和社会公众等利益相关者？</td>
            <td class="pre-line">{{ checklist.attitude | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="5" style="vertical-align: middle">公司存在哪些劣势？未来可能存在哪些风险？有哪些负面因素？</td>
            <td>公司存在哪些劣势或软肋？</td>
            <td class="pre-line">{{ checklist.weakness | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>关于公司有哪些负面观点、负面消息？是否影响公司的投资价值？</td>
            <td class="pre-line">{{ checklist.negative_news | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>公司发展可能存在哪些风险？</td>
            <td class="pre-line">{{ checklist.potential_risk | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>未来有什么原因可能会导致公司衰落甚至倒闭？</td>
            <td class="pre-line">{{ checklist.decline_prossibility | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td>如果出现最差的情况，公司能否维持生产和发展？</td>
            <td class="pre-line">{{ checklist.tenacity | default('-', True)}}</td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle">对公司的定性分析能否解释公司过往的经营业绩？</td>
            <td>重点在于理解其过往为何而优秀</td>
            <td class="pre-line">{{ checklist.past_explainable | default('-', True)}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<!-- 存放数据用来被js读取 -->
<div id="i_cacheData" data-code="{{code}}" 
    data-partial-url="{{ url_for('check_list.api_data_quality_partial', code=code) }}"
    data-partial-edit-url="{{ url_for('check_list.api_op_edit_quality_partial') }}">
</div>