{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="text-muted">首页</li>
    <li><a class="load-content-btn" id="i_groupIndexPage" role="button" data-href="{{ url_for('group.index') }}">竞争分析</a></li>
    <li class="active" id="i_groupDetailUrl" data-href="{{ url_for('group.group_detail', group_id=group.id) }}">{{group.name}}</li>
{% endblock %}

{% block content_title %}
    {{ group.name }}
{% endblock %}

{% block content %}
<br>
<div class="row">
    <h4>
        {% for stock in group.stocks %}
        <span class="label label-success" style="display: inline-block;">
            {{stock.code ~ ' ' ~stock.name}} &nbsp;
            <button type="button" class="close" onclick="show_rm_modal('{{ stock.code }}','{{ stock.name }}')">&times;</button>
        </span>
        {% endfor %}
        <i class="ri-add-circle-line" data-toggle="modal" data-target="#i_addGroupStockModal" style="position:relative;top:5px;"></i>
    </h4>
</div>

<!-- Modal for add stock -->
<div class="modal fade" id="i_addGroupStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="i_addGroupStockModalLabel">添加股票</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input id="i_addGroupStockInput" type="text" class="form-control" placeholder="请输入股票代码..."  data-href="{{ url_for('group.api_op_add_stock', group_id=group.id)}}">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="i_addGroupStockButton" data-dismiss="modal">确认</button>
        </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-md-12">
        <h5 class="text-success">盈利性</h5>
        <hr>
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#i_groupRevenues" aria-controls="i_groupRevenues" role="tab" data-toggle="tab">营业收入</a></li>
                <li role="presentation"><a href="#i_groupGrossProfitMargins" aria-controls="i_groupGrossProfitMargins" role="tab" data-toggle="tab">毛利率</a></li>
                <li role="presentation"><a href="#i_groupNetProfitMargins" aria-controls="i_groupNetProfitMargins" role="tab" data-toggle="tab">净利润率</a></li>
                <li role="presentation"><a href="#i_groupFreeCashFlows" aria-controls="i_groupFreeCashFlows" role="tab" data-toggle="tab">自由现金流 / 营收</a></li>
                <li role="presentation"><a href="#i_groupROE" aria-controls="i_groupROE" role="tab" data-toggle="tab">ROE</a></li>
                <li role="presentation"><a href="#i_groupROA" aria-controls="i_groupROA" role="tab" data-toggle="tab">ROA</a></li>
            </ul>
            <br><br>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="i_groupRevenues">
                    <div id="J_groupRevenuesChart" style="width:800px;height:400px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="i_groupGrossProfitMargins">
                    <div id="J_groupGrossProfitMarginsChart" style="width:800px;height:400px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="i_groupNetProfitMargins">
                    <div id="J_groupNetProfitMarginsChart" style="width:800px;height:400px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="i_groupFreeCashFlows">
                    <div id="J_groupFreeCashFlowsChart" style="width:800px;height:400px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="i_groupROE">
                    <div id="J_groupROEChart" style="width:800px;height:400px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="i_groupROA">
                    <div id="J_groupROAChart" style="width:800px;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for remove stock -->
<div class="modal fade" id="i_rmGroupStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="i_rmGroupStockModalLabel">移除股票</h4>
        </div>
        <div class="modal-body">
            <p  class="text-info text-center" >
                <span id="i_rmGroupStockInfo" data-code="" data-href="{{ url_for('group.api_op_remove_stock', group_id=group.id)}}"></span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="i_rmGroupStockButton" data-dismiss="modal">确认</button>
        </div>
        </div>
    </div>
</div>
<script>
    function show_rm_modal(code, name){
        $("#i_rmGroupStockInfo").attr("data-code", code);
        $("#i_rmGroupStockInfo").text(code + " " + name);
        $('#i_rmGroupStockModal').modal("show");
    }

    $(function () {
        var group_revenues_url = "{{ url_for('group.api_data_revenues', group_id=group.id) }}";
        var group_gross_profit_margins_url = "{{ url_for('group.api_data_gross_profit_margins', group_id=group.id) }}";
        var group_net_profit_margins_url = "{{ url_for('group.api_data_net_profit_margins', group_id=group.id) }}";
        var group_freecashflow_to_revenue_url = "{{ url_for('group.api_data_free_cashflow_to_revenue', group_id=group.id) }}";
        var group_roe_url = "{{ url_for('group.api_data_roe', group_id=group.id) }}";
        var group_roa_url = "{{ url_for('group.api_data_roa', group_id=group.id) }}";

        getDataAndPlotLines(group_revenues_url, "J_groupRevenuesChart");
        getDataAndPlotLines(group_gross_profit_margins_url, "J_groupGrossProfitMarginsChart");
        getDataAndPlotLines(group_net_profit_margins_url, "J_groupNetProfitMarginsChart");
        getDataAndPlotLines(group_freecashflow_to_revenue_url, "J_groupFreeCashFlowsChart");
        getDataAndPlotLines(group_roe_url, "J_groupROEChart");
        getDataAndPlotLines(group_roa_url, "J_groupROAChart");
    })



</script>
{% endblock %}